.Header {
  display: flex;
  justify-content: space-around;
  background-color: rebeccapurple;
  height: 50px;
  margin-bottom: 30px;
}

.HeaderLink {
  padding-left: 40px;
  padding-right: 40px;
}

.HeaderText {
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
}
