.Loginform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.Loginform input {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid rebeccapurple;
}

.Loginform button {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rebeccapurple;
  background-color: rebeccapurple;
  color: #fff;
}

.Loginform button:hover {
  background-color: #fff;
  border: 3px solid rebeccapurple;
  color: rebeccapurple;
}
